################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.veracode/veracode-tmp
/.veracode/build
/Verademo-Dotnet/Properties/PublishProfiles/VeracodePublishProfile.pubxml
/Verademo-Dotnet/obj/
/Verademo-Dotnet/bin/
.vs/
obj/
packages/
